#sidebar_completa{
    height: 100vh;
    margin: 0px;
    padding: 20px;
    /* background-image: url('back_sidebar4.png'); */
}

.row{
    --bs-gutter-x: 0rem !important;
}

.card{
    margin-right: 10px;
}

.perfil_avatar{
    margin-left: auto;
    margin-right: auto;
    width: 150px !important;
    background-color: rgba(0, 0, 0, 0) !important;
}

#new-button{
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    border: 0px transparent solid;
}

.button-git{
    border: none;
    font-weight: 500;
    border-radius: 10px;
    height: 45px;
    width: 100%;
    font-size: 20px;
    background-color: rgba(77, 77, 253, 0.788);
    color: white;
    margin-top: 10px;
    transition: .4s;
}

.button-git:hover{
    background-color: rgba(16, 16, 250, 0.664);
}

legend{
    font-weight: 600;
}

h6{
    font-size: 19px;
}
